<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Lista de archivos subidos</title>
  </head>
  <body>
    <div class="app">
      <h1>Archivos en orden alfabético:</h1>
      <ul>
        <% if (files.length === 0) { %>
        <li><em>No hay archivos subidos</em></li>
        <% } else { %> <% files.forEach(file => { %>
        <li><a href="/uploads/<%= file %>"><%= file %></a></li>
        <% }) %> <% } %>
      </ul>
      <br />
      <br />
      <a href="/">Regresar</a>
    </div>
  </body>
</html>
