<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>

    <a href="/upload"> Ir al formulario</a>
    <br /><br />
    <a href="/files">Navegar por los archivos existentes</a>
  </body>
</html>
