<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Formulario de carga</title>
  </head>
  <body>
    <div class="uploadForm__form-container">
      <h1>Formulario de subida de archivos</h1>
      <form 
        class="uploadForm__form"
        name="upload-form"
        action="upload"
        method="post"
        enctype="multipart/form-data"
      >
        <input class="inputfile" type="file" name="attachment" id="attachment" />
        <button type="submit">Subir</button>
      </form>
      <a href="/">Regresar</a>
    </div>
  </body>
</html>
